---
---

.devchat-container
	min-height: 80vh

#conversations-sidebar
	min-width: 25%

body[data-theme="light"]
	//
	// Conversations Tab
	//
	#conversations-sidebar
		background-color: #ccc

	#conversation-pane
		h3, h4
			color: #5b00c3

	//
	// Chat Tab
	//
	#chat-status-bar
		border-color: #000 !important

	#chat-messages > *:nth-child(odd)
		background-color: #ddd


body[data-theme="dark"]
	//
	// Conversations Tab
	//
	#conversations-sidebar
		background-color: #111

	#conversation-pane
		h3, h4
			color: #780ef0

	//
	// Chat Tab
	//
	#chat-messages > *:nth-child(odd)
		background-color: #222

	//
	// New Conversation Page
	//
	input[type="text"],
	input[type="number"],
	input[type="password"],
	textarea,
	textarea:focus
		background-color: transparent
		color: #ccc

	input[type="checkbox"],
	input[type="radio"]
		background-color: #444
