---
---

.devchat-container
	min-height: 80vh

#conversations-sidebar
	min-width: 25%

body[data-theme="light"]
	//
	// Conversations Tab
	//
	#conversations-sidebar
		background-color: #ccc

	#conversation-pane
		h3, h4
			color: #5b00c3

	//
	// Chat Tab
	//
	#chat-status-bar
		border-color: #000 !important

	#chat-messages > *:nth-child(odd)
		background-color: #ddd


body[data-theme="dark"]
	//
	// Conversations Tab
	//
	#conversations-sidebar
		background-color: #111

	#conversation-pane
		h3, h4
			color: #780ef0

	//
	// Chat Tab
	//
	#chat-messages > *:nth-child(odd)
		background-color: #222

	//
	// New Conversation Page
	//
	input[type="text"],
	input[type="number"],
	input[type="password"],
	textarea,
	textarea:focus
		background-color: transparent
		color: #ccc

	input[type="checkbox"],
	input[type="radio"]
		background-color: #444


//
// Thread Graph
//

// Tree styling was obtained from https://www.cssscript.com/clean-tree-diagram/
// See the demo for the exact CSS that was used.
.tree
	list-style: none
	margin: 0 0 1em
	padding: 0
	position: relative
	text-align: center
	display: table
	&, ul
		list-style: none
		margin: 0
		padding: 0
		position: relative
		display: table
	ul
		width: 100%
	li
		display: table-cell
		padding: .5em 0
		vertical-align: top
		position: relative
		&:before
		content: ""
		left: 0
		outline: solid 1px #666
		position: absolute
		right: 0
		top: 0
		&:first-child:before
		left: 50%
		&:last-child:before
		right: 50%
	code, span
		border: solid .1em #666
		border-radius: .2em
		display: inline-block
		margin: 0 .2em .5em
		padding: .2em .5em
		position: relative
	code
		font-family: monaco, Consolas, 'Lucida Console', monospace
	ul:before, code:before, span:before
		content: ""
		height: .5em
		left: 50%
		outline: solid 1px #666
		position: absolute
	ul:before
		top: -.5em
	code:before, span:before
		top: -.55em
	>li
		margin-top: 0
		&:before, &:after, &>code:before, &>span:before
		outline: none
