---
---

.game
	background-image: url("{{ site.baseurl }}/assets/img/typing-game/bg-town.png")
	min-width: 100%
	aspect-ratio: 1/1

.ui-menu
	background-color: rgba(0, 0, 0, 0.8)
	min-height: 100%
	min-width: 100%

.ui-bar
	background-color: rgba(0, 0, 0, 0.8)

#active-text
	color: orange
