---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}
<link rel="stylesheet"
	href="{{ '/assets/css/ChatGptDevChat/styles.css' | relative_url }}">

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">
		<!-- published date -->
		<span>
			{{ site.data.locales[lang].post.posted }}
			{% include datetime.html date=page.date tooltip=true lang=lang %}
		</span>

		<!-- lastmod date -->
		{% if page.last_modified_at and page.last_modified_at != page.date %}
		<span>
			{{ site.data.locales[lang].post.updated }}
			{% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
		</span>
		{% endif %}

	{% if page.image %}
		{% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
		{% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
		{% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

		{% capture lqip %}
			{% if page.image.lqip %}
				lqip="{{ page.image.lqip }}"
			{% endif %}
		{% endcapture %}

		<div class="mt-3 mb-3">
			<img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip | strip }}>
			{%- if page.image.alt -%}
				<figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
			{%- endif -%}
		</div>
	{% endif %}

	<div class="d-flex justify-content-between">
		<!-- author(s) -->
		<span>
			{% if page.author %}
				{% assign authors = page.author %}
			{% elsif page.authors %}
				{% assign authors = page.authors %}
			{% endif %}

			{{ site.data.locales[lang].post.written_by }}

			<em>
			{% if authors %}
				{% for author in authors %}
					<a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
					{% unless forloop.last %}</em>, <em>{% endunless %}
				{% endfor %}
			{% else %}
				<a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
			{% endif %}
			</em>
		</span>

		<div>
			<!-- read time -->
			{% include read-time.html content=content prompt=true lang=lang %}
		</div>

	</div> <!-- .d-flex -->

</div> <!-- .post-meta -->

<div class="post-content">
	{{ content }}
</div>

<!--
	API Key Input
	This is displayed immediately underneath the post's text that explains
	  what the API key is and how to get one, so minimal text is necessary within
		this section.
-->
<form>
	<!-- Main API key text box -->
	<div class="mb-3">
		<label for="api-key-input"
			class="form-label">
			OpenAI API Key
		</label>
		<input id="api-key-input"
			type="password"
			class="form-control rounded-0"
			placeholder="Enter your API key here">
		<span id="api-key-error-label" class="text-danger">
		</span>
	</div>

	<!-- Whether to store the key in browser storage -->
	<div class="mb-3">
		<input id="api-key-store"
			type="checkbox"
			class="form-check-input">
		<label for="api-key-store"
			class="form-check-label ms-1">
			Save API key locally
		</label>
	</div>

	<!-- Current API Key, Save button -->
	<div class="d-flex justify-content-between">
		<div class="vcenter-inner">
			<span id="api-key-label">
			</span>
		</div>
		<div>
			<button id="api-key-clear"
				type="button"
				class="btn btn-danger rounded-0 px-4 ms-2">
				Clear
			</button>
			<button id="api-key-save"
				type="button"
				class="btn btn-success rounded-0 px-4 ms-2">
				Save
			</button>
		</div>
	</div>
</form>

<!-- Main Chat Interface -->
<h2>Dev Chat</h2>
<div class="devchat-container d-flex flex-column align-items-stretch">

	<!-- Tabs -->
	<div class="d-flex border-secondary border-bottom">
		<!-- Conversations button -->
		<div>
			<input type="radio"
				class="btn-check"
				name="devchat-tabs"
				id="button-conversations-tab"
				autocomplete="off">
			<label for="button-conversations-tab"
				class="btn btn-outline-secondary border-bottom-0 rounded-0 px-4">
				Conversations
			</label>
		</div>

		<!-- Thread Graph button -->
		<div>
			<input type="radio"
				class="btn-check"
				name="devchat-tabs"
				id="button-graph-tab"
				autocomplete="off">
			<label for="button-graph-tab"
				class="btn btn-outline-secondary border-bottom-0 rounded-0 px-4">
				Thread Graph
			</label>
		</div>

		<!-- Chat button -->
		<div>
			<input type="radio"
				class="btn-check"
				name="devchat-tabs"
				id="button-chat-tab"
				autocomplete="off">
			<label for="button-chat-tab"
				class="btn btn-outline-secondary border-bottom-0 rounded-0 px-4">
				Chat
			</label>
		</div>
	</div>

	<!-- No API Key Selected tab -->
	<div id="tab-no-api-key"
		class="visible flex-fill container-fluid">
		<div class="row justify-content-center">
			<span class="col-auto py-2">
				No API key added! Please add an API key to use the Dev Chat.
			</span>
		</div>
	</div>

	<!-- Conversations tab -->
	<div id="tab-conversations"
		class="d-none container-fluid">
		<!-- Main row of the conversations tab -->
		<div class="row align-items-stretch">

			<!-- Sidebar -->
			<div class="col-2 d-flex flex-column">
				<!-- Conversations -->
				<div class="flex-fill d-flex flex-column">
				</div>

				<!-- TODO: Make this button a different color -->
				<button type="button"
					id="button-new-conversation"
					class="btn btn-outline-secondary rounded-0">
					New Conversation
				</button>
			</div>

		</div>
	</div>

	<!-- Add New Conversation tab -->
	<div id="tab-new-conversation"
		class="d-none container-fluid">
		<!-- Header Row -->
		<div class="row">
			<div class="col-auto">
				<h4 class="mt-3">
					New Conversation
				</h4>
			</div>
		</div>

		<!-- Form -->
		<div class="row">
			<form class="col">

				<!-- Conversation Name -->
				<div class="mb-3">
					<label for="input-conversation-name"
						class="form-label">
						Conversation Name
					</label>
					<input id="input-conversation-name"
						type="text"
						class="form-control rounded-0"
						placeholder="Enter a name for this conversation"
						required>
					<span id="label-conversation-name-error"
						class="text-danger">
					</span>
				</div>

				<!-- LLM -->
				<div class="mb-3">
					<span class="form-label">
						Model
					</span>

					<!-- GPT-3.5 (4K context window) -->
					<div class="form-check">
						<input class="form-check-input"
							type="radio"
							name="llm-radios"
							id="input-llm-gpt-3.5-4k">
						<label for="input-llm-gpt-3.5-4k"
							class="form-check-label">
							GPT-3.5 (4k)
						</label>
					</div>

					<!-- GPT-3.5 (16K context window) -->
					<div class="form-check">
						<input class="form-check-input"
							type="radio"
							name="llm-radios"
							id="input-llm-gpt-3.5-16k">
						<label for="input-llm-gpt-3.5-16k"
							class="form-check-label">
							GPT-3.5 (16k)
						</label>
					</div>

					<!-- GPT-4 (8K context window) -->
					<div class="form-check">
						<input class="form-check-input"
							type="radio"
							name="llm-radios"
							id="input-llm-gpt-4-8k"
							checked>
						<label for="input-llm-gpt-4-8k"
							class="form-check-label">
							GPT-4 (8k)
						</label>
					</div>

					<!-- GPT-4 (32K context window) -->
					<div class="form-check">
						<input class="form-check-input"
							type="radio"
							name="llm-radios"
							id="input-llm-gpt-4-32k">
						<label for="input-llm-gpt-4-32k"
							class="form-check-label">
							GPT-4 (32k)
						</label>
					</div>

					<!-- Lorem Ipsum "LLM" -->
					<div class="form-check">
						<input class="form-check-input"
							type="radio"
							name="llm-radios"
							id="input-llm-lorem-ipsum">
						<label for="input-llm-lorem-ipsum"
							class="form-check-label">
							Lorem Ipsum
						</label>
					</div>

					<!-- OpenAI pricing link -->
					<a href="https://openai.com/pricing"
						target="_blank">
						OpenAI API Pricing
					</a>
				</div>

				<!-- Target Context Window Size -->
				<div class="mb-3">
					<label for="input-context-window-size"
						class="form-label">
						Target Context Window Size
					</label>
					<input id="input-context-window-size"
						type="number"
						class="form-control rounded-0"
						placeholder="Target number of tokens for the context window"
						required>
					<span id="label-context-window-size-error"
						class="text-danger">
					</span>
				</div>

				<!-- Initial message -->
				<div class="mb-3">
					<label for="input-initial-message"
						class="form-label">
						Initial Message
					</label>
					<textarea id="input-initial-message"
						class="form-control rounded-0"
						rows="10"
						placeholder="Enter the initial message for this conversation"
						required></textarea>
					<span id="label-initial-message-error"
						class="text-danger">
					</span>
				</div>

				<!-- Buttons -->
				<div class="row justify-content-end">
					<div class="col-auto">
						<button type="button"
							id="button-create-conversation"
							class="btn btn-success rounded-0 px-4">
							Create
						</button>
					</div>
				</div>

			</form>
		</div>

	</div>

	<!-- Thread Graph tab -->
	<div id="tab-graph"
		class="d-none container-fluid">
		<!-- Status Bar -->
		<div class="row justify-content-between border-bottom mb-3">
			<div class="col d-flex flex-column align-items-start">
				<span>
					Messages: <span id="graph-total-messages">0</span>
				</span>
			</div>

			<div class="col d-flex flex-column align-items-end">
				<span>
					Threads: <span id="graph-total-threads">0</span>
				</span>
			</div>
		</div>
	</div>

	<!-- Chat tab -->
	<div id="tab-chat"
		class="d-none flex-fill flex-column align-items-stretch">
		<!-- Status Bar -->
		<div class="d-flex justify-content-between border-bottom mb-3">
			<!-- Tokens -->
			<div class="d-flex flex-column align-items-start">
				<span>
					Total Tokens: <span id="thread-total-tokens">0</span> tokens
				</span>
				<span>
					Outbound Tokens: <span id="thread-outbound-tokens">0</span> tokens
				</span>
				<span>
					Inbound Tokens: <span id="thread-inbound-tokens">0</span> tokens
				</span>
			</div>

			<!-- Cost -->
			<div class="d-flex flex-column align-items-end">
				<span>
					Estimated Total Cost: $<span id="thread-total-cost">0.00</span>
				</span>
				<span>
					Estimated Outbound Cost: $<span id="thread-outbound-cost">0.00</span>
				</span>
				<span>
					Estimated Inbound Cost: $<span id="thread-inbound-cost">0.00</span>
				</span>
			</div>
		</div>

		<!-- Messages -->
		<div id="chat-messages" class="flex-fill container overflow-auto">
		</div>

		<!-- Input -->
		<div>
			<input id="input-message"
				type="text"
				class="form-control rounded-0"
				placeholder="Enter a message"
				required>
		</div>

	</div>
</div>

<div class="post-tail-wrapper text-muted">

	<!-- categories -->
	{% if page.categories.size > 0 %}
	<div class="post-meta mb-3">
		<i class="far fa-folder-open fa-fw me-1"></i>
		{% for category in page.categories %}
			<a href='{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/'>{{ category }}</a>
			{%- unless forloop.last -%}, {%- endunless -%}
		{% endfor %}
	</div>
	{% endif %}

	<!-- tags -->
	{% if page.tags.size > 0 %}
	<div class="post-tags">
		<i class="fa fa-tags fa-fw me-1"></i>
			{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
					class="post-tag no-text-decoration" >
				{{- tag -}}
			</a>
			{% endfor %}
	</div>
	{% endif %}

	<div class="post-tail-bottom
		d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
		<div class="license-wrapper">

			{% if site.data.locales[lang].copyright.license.template %}

				{% capture _replacement %}
				<a href="{{ site.data.locales[lang].copyright.license.link }}">
					{{ site.data.locales[lang].copyright.license.name }}
				</a>
				{% endcapture %}

				{{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}

			{% endif %}
		</div>

		{% include post-sharing.html lang=lang %}

	</div><!-- .post-tail-bottom -->

</div><!-- div.post-tail-wrapper -->
<script src="/assets/scripts/whattf.js" type="module"></script>
