---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}
<link rel="stylesheet"
	href="{{ '/assets/css/MatrixCacheSim/styles.css' | relative_url }}">

<h1 data-toc-skip>{{ page.title }}</h1>

<div class="post-meta text-muted">
		<!-- published date -->
		<span>
			{{ site.data.locales[lang].post.posted }}
			{% include datetime.html date=page.date tooltip=true lang=lang %}
		</span>

		<!-- lastmod date -->
		{% if page.last_modified_at and page.last_modified_at != page.date %}
		<span>
			{{ site.data.locales[lang].post.updated }}
			{% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
		</span>
		{% endif %}

	{% if page.image %}
		{% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
		{% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
		{% capture alt %}alt="{{ page.image.alt | default: "Preview Image" }}"{% endcapture %}

		{% capture lqip %}
			{% if page.image.lqip %}
				lqip="{{ page.image.lqip }}"
			{% endif %}
		{% endcapture %}

		<div class="mt-3 mb-3">
			<img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip | strip }}>
			{%- if page.image.alt -%}
				<figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
			{%- endif -%}
		</div>
	{% endif %}

	<div class="d-flex justify-content-between">
		<!-- author(s) -->
		<span>
			{% if page.author %}
				{% assign authors = page.author %}
			{% elsif page.authors %}
				{% assign authors = page.authors %}
			{% endif %}

			{{ site.data.locales[lang].post.written_by }}

			<em>
			{% if authors %}
				{% for author in authors %}
					<a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
					{% unless forloop.last %}</em>, <em>{% endunless %}
				{% endfor %}
			{% else %}
				<a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
			{% endif %}
			</em>
		</span>

		<div>
			<!-- read time -->
			{% include read-time.html content=content prompt=true lang=lang %}
		</div>

	</div> <!-- .d-flex -->

</div> <!-- .post-meta -->

<div class="post-content">
	{{ content }}

	<h2>Simulator Configuration</h2>

	<!-- Matrix Size button group -->
	<div class="mb-3">
		<label class="form-label">
			Matrix Size
		</label>
		<div class="input-group">
			<button
				id="matrix-size-16x16"
				type="button"
				class="btn btn-outline-primary rounded-0">
				16x16
			</button>
			<button
				id="matrix-size-32x32"
				type="button"
				class="btn btn-outline-primary rounded-0">
				32x32
			</button>
			<button
				id="matrix-size-64x64"
				type="button"
				class="btn btn-outline-primary rounded-0">
				64x64
			</button>
			<button
				id="matrix-size-63x63"
				type="button"
				class="btn btn-outline-primary rounded-0">
				63x63
			</button>
		</div>
	</div>

	<!-- Cache Size button group -->
	<div class="mb-3">
		<label class="form-label">
			Cache Size (in number of cache lines)
		</label>
		<div class="input-group">
			<button
				id="cache-size-small"
				type="button"
				class="btn btn-outline-primary rounded-0">
				4
			</button>
			<button
				id="cache-size-medium"
				type="button"
				class="btn btn-outline-primary rounded-0">
				8
			</button>
			<button
				id="cache-size-large"
				type="button"
				class="btn btn-outline-primary rounded-0">
				16
			</button>
			<button
				id="cache-size-xl"
				type="button"
				class="btn btn-outline-primary rounded-0">
				32
			</button>
		</div>
	</div>

	<!-- Cache Line Size button group -->
	<div class="mb-3">
		<label class="form-label">
			Cache Line Size (in number of elements)
		</label>
		<div class="input-group">
			<button
				id="cache-line-size-small"
				type="button"
				class="btn btn-outline-primary rounded-0">
				4
			</button>
			<button
				id="cache-line-size-medium"
				type="button"
				class="btn btn-outline-primary rounded-0">
				8
			</button>
			<button
				id="cache-line-size-large"
				type="button"
				class="btn btn-outline-primary rounded-0">
				16
			</button>
		</div>
	</div>

	<!-- Cache Associativity button group -->
	<div class="mb-3">
		<label class="form-label">
			Cache Associativity
		</label>
		<div class="input-group">
			<button
				id="cache-associativity-direct-mapped"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Direct Mapped
			</button>
			<button
				id="cache-associativity-2-way"
				type="button"
				class="btn btn-outline-primary rounded-0">
				2-Way
			</button>
			<button
				id="cache-associativity-4-way"
				type="button"
				class="btn btn-outline-primary rounded-0">
				4-Way
			</button>
			<button
				id="cache-associativity-8-way"
				type="button"
				class="btn btn-outline-primary rounded-0">
				8-Way
			</button>
			<button
				id="cache-associativity-fully-associative"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Fully Associative
			</button>
		</div>
	</div>

	<!-- Simulation Speed button group -->
	<div class="mb-3">
		<label class="form-label">
			Simulation Speed
		</label>
		<div class="input-group">
			<button
				id="simulation-speed-slow"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Slow
			</button>
			<button
				id="simulation-speed-normal"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Normal
			</button>
			<button
				id="simulation-speed-fast"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Fast
			</button>
		</div>
	</div>

	<!-- Display Matrix Values button group -->
	<div class="mb-3">
		<div class="d-flex flex-column mb-3">
			<label class="form-label mb-0">
				Display Matrix Values
			</label>
			<sub class="text-muted">
				Not recommended to be enabled on large matrix sizes.
			</sub>
		</div>
		<div class="input-group">
			<button
				id="elements-off"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Off
			</button>
			<button
				id="elements-on"
				type="button"
				class="btn btn-outline-primary rounded-0">
				On
			</button>
		</div>
	</div>

	<!-- Transpose Algorithm button group -->
	<div class="mb-3">
		<label class="form-label">
			Matrix Transpose Algorithm
		</label>
		<div class="input-group">
			<button
				id="algorithm-naive"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Naive
			</button>
			<button
				id="algorithm-cache-friendly"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Cache Friendly
			</button>
			<button
				id="algorithm-custom"
				type="button"
				class="btn btn-outline-primary rounded-0">
				Custom
			</button>
		</div>
	</div>

	<!-- Simulator title bar -->
	<div class="d-flex align-items-stretch my-2">
		<div class="d-flex flex-fill flex-column justify-content-center pe-4">
			<h2 class="m-0 p-0">Simulator</h2>
		</div>

		<!-- Start Simulation button -->
		<button
			id="start-simulation"
			type="button"
			class="btn btn-outline-success rounded-0">
			Start Simulation
		</button>
	</div>

	<!-- Simulator -->
	<div class="container-fluid my-4">
		<div class="row">

			<!-- Container element for all matrix elements -->
			<div id="matrix" class="col p-0" style="font-size: 0.5rem;">
			</div>

			<!-- Simulation sidebar -->
			<div class="d-flex flex-column align-items-stretch col-3">

				<!-- Cache Usage segment -->
				<div class="d-flex flex-column align-items-stretch mb-4">
					<h4 class="m-0 mb-2">Cache Usage</h4>
					<div id="cache" class="d-flex flex-column align-items-stretch">
					</div>
				</div>

				<!-- Statistics segment -->
				<div id="stats">
					<h4 class="m-0 mb-2">Statistics</h4>
					<div class="d-flex justify-content-between">
						<span class="pe-2">Memory Accesses:</span>
						<span id="stats-memory-accesses">0</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="pe-2">Cache Hits:</span>
						<span id="stats-cache-hits">0</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="pe-2">Cache Misses:</span>
						<span id="stats-cache-misses">0</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="pe-2">Cache Hit Rate:</span>
						<span id="stats-cache-hit-rate">0%</span>
					</div>
					<div class="d-flex justify-content-between">
						<span class="pe-2">Cache Usage:</span>
						<span id="stats-cache-usage">0%</span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="post-tail-wrapper text-muted">

	<!-- categories -->
	{% if page.categories.size > 0 %}
	<div class="post-meta mb-3">
		<i class="far fa-folder-open fa-fw me-1"></i>
		{% for category in page.categories %}
			<a href='{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/'>{{ category }}</a>
			{%- unless forloop.last -%}, {%- endunless -%}
		{% endfor %}
	</div>
	{% endif %}

	<!-- tags -->
	{% if page.tags.size > 0 %}
	<div class="post-tags">
		<i class="fa fa-tags fa-fw me-1"></i>
			{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
					class="post-tag no-text-decoration" >
				{{- tag -}}
			</a>
			{% endfor %}
	</div>
	{% endif %}

	<div class="post-tail-bottom
		d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
		<div class="license-wrapper">

			{% if site.data.locales[lang].copyright.license.template %}

				{% capture _replacement %}
				<a href="{{ site.data.locales[lang].copyright.license.link }}">
					{{ site.data.locales[lang].copyright.license.name }}
				</a>
				{% endcapture %}

				{{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}

			{% endif %}
		</div>

		{% include post-sharing.html lang=lang %}

	</div><!-- .post-tail-bottom -->

</div><!-- div.post-tail-wrapper -->
<script src="/assets/scripts/MatrixCacheSim/demo.js" type="module"></script>
